# Compiled Binaries
bruncher
bruncher.exe
bruncher-mac*
*.exe
*.dll
*.so
*.dylib

# Test Binaries & Coverage
*.test
*.out
*.prof

# OS Specific Files
.DS_Store
Thumbs.db

# IDE & Editor Folders
.idea/
.vscode/
*.swp